/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
/*DROPDOWN FOR ADD*/
.dropit {
  list-style: none;
	padding: 0;
	margin: 15px 0 0;
  float: right;
  display: inline-block;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
	  padding: 20px;
	  margin: 20px 0 0;
}
.dropit .dropit-open .dropit-submenu {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}
.dropit .dropit-open .dropit-submenu:after {
    content:"";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -8px;
    right: 10px;
}
.dropit .dropit-open .dropit-submenu li {
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
}
.dropit .dropit-open .dropit-submenu li:lastchild {
    margin-bottom: 0px;
}
.dropit .dropit-open .dropit-submenu li a {
    color: #34495E;
    text-decoration: none;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.dropit .dropit-open .dropit-submenu a:hover {
    background-color: #333333;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
}
    
/*DROPDOWN FOR SETTINGS*/
.dropit-inverse.dropit .dropit-submenu {
  position: absolute;
  top: -180;
  right: 0; /* dropdown left or right */
  z-index: 1000;
  display: none;
  min-width: 145;
  list-style: none;
  padding: 20px;
  margin: 20px 0 0;
}
.dropit-inverse.dropit .dropit-open .dropit-submenu {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}
.dropit-inverse.dropit .dropit-open .dropit-submenu::after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 100%;
    right: 10px;
    transform: rotate(180deg);
}
.dropit-inverse.dropit .dropit-open .dropit-submenu li {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 0px;
  color:#34495E;
  text-decoration: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight:100;
 }
.dropit-inverse.dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
 }
 .dropit-inverse.dropit .dropit-open .dropit-submenu li a {
   line-height: 20px;
  }
